/*
!/.vimrc
!/.vim
!/.xinitrc
!/.xprofile
!/.xbindkeysrc
/.vim/plugged/*
!/.vim/config/*
/.vim/config/prj.vim
!/.tmux.conf
/.vim/.netrwhist 
!/.zshrc
tags
!/.gitconfig
!/.gitignore
!.gitkeep
