snippet fwg "framework get"
$request->getParameter('${1:var}');
endsnippet

snippet fwgg "framework get"
$request->getParameterByKeys([

]);
endsnippet

snippet fws "framework set"
$request->setAttribute('${1:var}', \$${2:$1});
endsnippet

snippet fwa "framework assign"
$this->assign('${1:var}', $request->getAttribute('${2:$2}'));
endsnippet

snippet kz "keys"
\$keys = [
	'${1:name}'
	,'${2:name}'
];
endsnippet

snippet pc "project comment"
//リニューアル後の目標構造変更に伴い再作成
endsnippet
